
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        body {
            background-color:  #FFE9E1;
            color: #451952;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        h3 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            padding: 20px;
            color: #FFE9E1;
            background-color: #451952;
            margin-bottom: 20px;
        }

        .edit-container {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 20px;
        }

        .edit-container p {
            font-size: 16px;
            margin: 0;
            padding: 0;
        }

        .edit-container p.chat-id {
            font-size: 14px;
            color: #777;
            margin-top: 10px;
        }

        .edit-container p.chat-info {
            font-size: 16px;
            margin-top: 10px;
        }

        .msg {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 10px;
            resize: vertical;
        }

        .edit-button {
            background-color: #791558;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            margin-top: 10px;
        }

        .edit-button:hover {
            background-color: #451952;
        }
    </style>
</head>
<body>
    <h3>Edit your Message</h3>
    <div class="edit-container">
        <p class="chat-info">This chat was sent by <%=text.from%> to <%=text.to%></p>
        <form method="POST" action="/texts/<%=text._id%>?_method=PUT">
            <textarea class="msg" rows="5" cols="10" name="msg"><%=text.msg%></textarea>
            <button class="edit-button">Edit</button>
        </form>
    </div>
</body>
</html>
